.service-container {
    width: 410px;
    height: 520px;
    border: 1px solid rgba(26, 97, 190, 0.658);
    border-radius: 10px;
    padding: 5px;
}

.service-container img {
    width: 400px;
    height: 300px;
}